#btn{

    font-size: 20px;
    background-color: #F6CEF5;
    color: #21618C;
    font-weight: bold;
    font-weight: bold;
	font-style: italic;
}

#btn1{

    font-size: 20px;
    background-color: #F6CEF5;
    color: #21618C;
    font-weight: bold;
    font-weight: bold;
	font-style: italic;
}